<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.css}">
    <meta charset="ISO-8859-1">
    <title>H+ Sport login</title>
</head>
<body>
<header id="home" class="header">
    <nav class="nav" role="navigation">
        <div class="container nav-elements">
            <div class="branding">
                <a th:href="@{/home}"><img th:src="@{/images/hpluslogo.svg}"
                                           alt="Logo - H Plus Sports"></a>
            </div>
            <!-- branding -->
            <ul class="navbar">
                <li><a th:href="@{/home}">home</a></li>
                <li><a th:href="@{/goToSearch}">search</a></li>
                <li><a href="#">linkedIn</a></li>
            </ul>
            <!-- navbar -->
        </div>
        <!-- container nav-elements -->
    </nav>
    <!-- <div class="container tagline">
<h1 class="headline">Our Mission</h1>
<p>We support and encourage <em>active and healthy</em> lifestyles, by offering <em>ethically sourced</em> and <em>eco-friendly</em> nutritional products for the <em>performance-driven</em> athlete.</p>
</div>container tagline -->
</header>
<!-- #home -->
<span th:text="${dataSaved}"></span>
<section id="login" class="section">
    <div class="container tagline">
        <em>LOGIN USER</em>
        <form action="#" method="post">
            <div class="mb-3">
                <label>Username</label> <input type="text" name="username"><br/>
            </div>
            <div class="mb-3">
                <label>Password</label> <input type="password" name="password"><br/>
            </div>
            <div class="mb-3">
                <input type="submit" value="Login">
            </div>
        </form>
        <a class="card-title" th:href="@{/goToRegistration}">Register new user? Click here</a>
    </div>
</section>
<!-- #products -->


<footer class="footer">
    <div class="container">

        <nav class="nav" role="navigation">
            <div class="container nav-elements">
                <div class="branding">
                    <a th:href="@{/home}"><img th:src="@{/images/hpluslogo.svg}"
                                               alt="Logo - H Plus Sports"></a>
                    <p class="address">
                        100 Main Street<br> Seattle, WA 98144
                    </p>
                </div>
            </div>
        </nav>
        <p class="legal">H+ Sport is a fictitious brand created by
            lynda.com solely for the purpose of training. All products and
            people associated with H+ Sport are also fictitious. Any resemblance
            to real brands, products, or people is purely coincidental.
            Information provided about the product is also fictitious and should
            not be construed to be representative of actual products on the
            market in a similar product category.</p>
    </div>
    <!-- container -->
</footer>
<!-- footer -->

<script th:src="@{/webjars/jquery/3.6.3/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.js}"></script>

</body>
</html>