<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>H+ Sport user registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header id="home" class="header">
    <nav class="nav" role="navigation">
        <div class="container nav-elements">
            <div class="branding">
                <a th:href="@{/home}"><img th:src="@{/images/hpluslogo.svg}"
                                           alt="Logo - H Plus Sports"></a>
            </div>
            <!-- branding -->
            <ul class="navbar">
                <li><a th:href="@{/home}">home</a></li>
                <li><a th:href="@{/goToSearch}">search</a></li>
                <li><a href="">linkedIn</a></li>

            </ul>
            <!-- navbar -->
        </div>
        <!-- container nav-elements -->
    </nav>

    <!-- <div class="container tagline">
<h1 class="headline">Our Mission</h1>
<p>We support and encourage <em>active and healthy</em> lifestyles, by offering <em>ethically sourced</em> and <em>eco-friendly</em> nutritional products for the <em>performance-driven</em> athlete.</p>
</div>container tagline -->
</header>
<!-- #home -->


<section id="registration" class="section">
    <div class="container tagline">
        <em>Register new User</em><br/>
        <form method="post" th:action="@{/registeruser}" th:object="${newuser}">
            <div class="mb-3">
                <label>Username</label> <input th:field="*{username}" type="text"/><br/>
            </div>
            <div class="mb-3">
                <label>Password</label> <input th:field="*{password}" type="password"/><br/>
            </div>
            <div class="mb-3">
                <label>First Name</label> <input th:field="*{firstName}" type="text"/><br/>
            </div>
            <div class="mb-3">
                <label>Last Name</label> <input th:field="*{lastName}" type="text"/><br/>
            </div>
            <div class="mb-3">
                <label>What do you want to do? </label>
                <span th:each="item : ${radioItems}">
                    <input type="radio" th:field="*{activity}" th:value="${item.getKey()}" th:text="${item.getValue()}">
                </span>
            </div>
            <div class="mb-3">
                <label>Date of birth</label>
                <input th:field="*{dateOfBirth}" type="date"/><br/>
            </div>
            <div class="mb-3">
                <label>Gender</label>
                <select th:field="*{gender}">
                    <option th:each="gender : ${genderItems}"
                            th:value="${gender}" th:text="${gender}">
                    </option>
                </select><br/>
            </div>
            <div>
                <input type="submit" value="Submit" id="submit">
            </div>
        </form>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <nav class="nav" role="navigation">
            <div class="container nav-elements">
                <div class="branding">
                    <a th:href="@{/home}"><img th:src="@{/images/hpluslogo.svg}"
                                               alt="Logo - H Plus Sports"></a>
                    <p class="address">
                        100 Main Street<br> Seattle, WA 98144
                    </p>
                </div>
            </div>
        </nav>
        <p class="legal">H+ Sport is a fictitious brand created by
            lynda.com solely for the purpose of training. All products and
            people associated with H+ Sport are also fictitious. Any resemblance
            to real brands, products, or people is purely coincidental.
            Information provided about the product is also fictitious and should
            not be construed to be representative of actual products on the
            market in a similar product category.</p>
    </div>
    <!-- container -->
</footer>
<!-- footer -->

<script th:src="@{/webjars/jquery/3.6.3/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.js}"></script>

</body>
</html>